/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 1.2em;
  color: #666;
  background-color: #fef4b2;
  /*margin: 0 auto;*/
}
a:hover {
	text-decoration: none;
}
a {
	text-decoration: none;
}
h1 {
	text-transform: uppercase;
	font-size: 2em;
	padding: 0.3em 0;
}

/*header*/

.wrapper-header {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: white url(../img/header.png) no-repeat;
  overflow: auto;
}
#logo {
  width: 105px;
  height: 147px;
  margin: 20px 0 0 30px;  
}
#networks {
  display: inline-block;
  float:right;

}
nav#main-nav li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  margin: 0 auto;
  padding: 1%;
}
#main-nav {
  margin: 0 auto;
  background-color: white;
  height: 50px;
}
nav#main-nav a {
  color: #990000;
}
nav#main-nav a:hover{
  border-bottom: 3px solid #990000;
}
/*content*/ 

.wrapper {
	background-color: white;
  border-radius:25px;
  width: 60%;
  margin: 5% auto;
  padding: 5%;
  position: relative;
}
.wrapper p {
  line-height: 2em;
}

/*footer*/

footer dl {
  margin: 0 auto;
}
footer a {
  text-decoration: none;
  color: #666;
}