/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 1.2em;
  color: #666;
  background: white top left url(../img/food.png) repeat;
  /*background: #fef4b2;
  margin: 0 auto;*/
}
a:hover {
	text-decoration: none;
}
a {
	text-decoration: none;
}
h1 {
	text-transform: uppercase;
	font-size: 2em;
	padding: 0.3em 0;
}
.hidden{
  display: none;
}

/*header*/

.wrapper-header {
  width: 100%;
  height: 10%;
  margin: 0 auto;
  position: relative;
  background: white top left url(../img/ines-hd3.png) no-repeat;
  overflow: auto;
  background-size: cover;
}
.logo {
  width: 130px;
  height: 166px;
  margin: 20px 0 0 30px;  
}
#networks {
  position: absolute;
  text-align: center;
  right: 5%;
  top: 40px;
}
#networks a {
  color: white;
} 
nav#main-nav li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  margin: 1%;
}
#main-nav {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: 40px;
  text-align: center;
}
nav#main-nav a {
  color: #990000;
  padding: 3%;
  margin-top: 1%
}
nav#main-nav ul {
  width: 100%;
}
nav#main-nav a:hover{
  border-bottom: 3px solid #990000;
}
/*content*/ 

.wrapper {
	background-color: white;
  border-radius:25px;
  width: 60%;
  margin: 5% auto;
  padding: 5%;
  position: relative;
}
.wrapper p {
  line-height: 2em;
}

/*footer*/

footer {
  border-top: 4px dotted white;
  margin-bottom: 2em;
  margin-top: 2em;
}
footer li {
  text-align: center;
  font-size: 1em;
  letter-spacing:1px;
  line-height: 1em;
}  
footer a {
  text-decoration: none;
  color: #666;
  text-align: center;
}
footer p {
  text-align: center;
  margin-top: 2em;
}